{% extends "layout.html" %}

{% block link1 %}
    <a href="/logout">Logout</a>
{% endblock %}

{% block main %}

    <div class="journeys">

        <div class="mini-nav">
            <div class="route-container">
                <div class="route-wrapper">
                    <a href="/home"><i class="bi bi-person-circle"></i></a>
                    <a href="/search"><i class="bi bi-search"></i></a>
                    <i class="bi bi-lightbulb"></i>
                    <i class="bi bi-lock"></i>
                </div>
            </div>
        </div>

        <div class="journeys-content">

        </div>

    </div>

{% endblock %}