{% extends "home.html" %}

{% block main %}

<div class="home-main small-dv">

    <section>
                                
        <div class="container">
            <div class="row v-align-center-1">
                <div class="col-4 v-align-center-2">
                    <img class="profile-img" src="static/uploads/{{ user['image'] }}" alt="profile image" />
                </div>
                <div class="col-7 v-align-center-2 text-truncate">
                    <h2>Day: {{ user['started_on'] | day }}/{{ challenge['level'] | challenge }}</h2>{{ hours }} hours completed
                </div>
                <div class="route-container col-1">
                    <div class="route-wrapper">
                        <a href="/journeys"><i class="bi bi-house-door"></i></a>
                        <a href="/search"><i class="bi bi-search"></i></a>
                        <a href="/tips"><i class="bi bi-lightbulb"></i></a>
                        <a href="/challenges"><i class="bi bi-lock"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="user-info text-truncate">
        <span class="username">{{ user['username'] }}</span><br>
        <span class="bio">{{ user['bio'] }}</span>
    </section>

    <br>

    <section>
        
        <div class="container">
            <div class="row">
                <div class="col-8">

                    <div class="dropdown">
                        <button class="btn home-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Edit Profile
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/edit_picture">Edit Picture</a></li>
                            <li><a class="dropdown-item" href="/edit_bio">Edit Bio</a></li>
                            <li><a class="dropdown-item" href="/edit_username">Edit Username</a></li>
                            <li><a class="dropdown-item" href="/edit_email">Edit Email</a></li>
                            <li><a class="dropdown-item" href="/edit_password">Edit Password</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-4">
                    
                    <div class="dropdown">
                        <button class="btn home-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Post
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/post">Post</a></li>
                            <li><a class="dropdown-item" href="/tips">Tips</a></li>
                            <li><a class="dropdown-item" href="/challenges">Challenge</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>

    </section>

    <section class="challenge text-truncate">
        <p>Challenge: {{ challenge['level'] | challenge }}DaysOf{{ challenge['name']}}</p>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-6 text-truncate">
                    <div class="btn btn-primary home-btn btn-lg" tabindex="-1" role="button" aria-disabled="false">{{ followers }} Followers</div>
                </div>

                <div class="col-6 text-truncate">
                    <div class="btn btn-primary home-btn btn-lg" tabindex="-1" role="button" aria-disabled="false">{{ following }} Following</div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <hr>

    <section class="posts-section">

    </section>

    <div class="img-viewer">
        <img class="post-img" src="" />
        <div class="post-info">
            <div class="cancel">
                <i class="bi bi-x"></i>
            </div>
            <div class="profile">
                <div>
                    <img class="profile-img" src="static/uploads/{{ user['image'] }}" >
                    <span id="user-name">{{ user["username"] }}</span>
                </div>
                <i class="bi bi-three-dots-vertical"></i>
            </div>
            <hr>
            <div class="caption">
                <p class="caption-content"></p>
                <div class="comments"></div>
            </div>
            <hr>
            <div class="likes-container">
                <div>
                    <i class="bi bi-heart none"></i><i class="bi bi-heart-fill none"></i><span class="likes-count"></span>
                </div>
            </div>
            <hr>
            <div class="comment-input">
                <textarea id="comment" placeholder="Add a comment"></textarea>
                <div class="post" id="send">Post</div>
            </div>
        </div>
    </div>

    <div id="post-options">
        <button class="delete">Delete</button>
        <hr>
        <button class="likes">Likes</button>
        <hr>
        <button id="post-cancel">Cancel</button>
    </div>

    <div class="liked-by">
        <i class="bi bi-x dismiss"></i>
        <div class="header">
            Liked By:
        </div>
        <hr>
        <div class="likes-list"></div>
    </div>

</div>

{% endblock %}